@model SproutWebApp.Models.Employee


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Employee</title>

</head>
<body>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6"><h2><b>Calculate</b> Salary</h2></div>
                <div class="col-sm-6"></div>
            </div>
        </div>
        Name: @Html.Label("Name", Model.Name)<br />
        Birthdate: @Html.Label("Birthdate", Model.Birthdate.ToShortDateString())<br />
        TIN: @Html.Label("TIN", Model.TIN)<br />

        Employee Type: @if (Model.EmployeeType == "R")
        {
            @Html.Label("Type", "Regular")
        }
        else
        {
            @Html.Label("Type", "Contractual")
        }<br />

        Basic Salary: @Html.Label("BasicSalary", "PHP " + Convert.ToDecimal(Model.Salary).ToString("N"))<br />

        @using (Html.BeginForm("ApprovedEmployeeSalary", "Employee", new { employeeID = Model.EmployeeId }, FormMethod.Post))
        {
            @if (Model.EmployeeType == "R")
            {
                <div>Number of Absences: @Html.TextBoxFor(model => model.Absences, new { placeholder = "Number of Absences" })</div>
                @Html.ValidationMessageFor(model => model.Absences, "", new { @class = "text-danger" })
            }
            else
            {
                <div>Number of Working Days: @Html.TextBoxFor(model => model.Attendance, new { placeholder = "Number of Working Days" })</div>
                @Html.ValidationMessageFor(model => model.Attendance, "", new { @class = "text-danger" })
            }<br />


            <div class="form-group">
                <input id="btnAdd" class="btn btn-success" type="submit" value=" Calculate ">
                @Html.ActionLink(" Back ", "ViewAllEmployees", new { id = "btnBack" }, new { @class = "btn btn-primary" })
            </div>
        }
    </div>

</body>
</html> 