@model IEnumerable<SproutWebApp.Models.Employee>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View All Employees</title>
</head>
<body>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6"><h2>Employee <b>List</b></h2></div>
                <div class="col-sm-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info active">
                            <input type="radio" name="status" value="all" checked="checked"> All
                        </label>
                        <label class="btn btn-success">
                            <input type="radio" name="status" value="P"> Pending
                        </label>
                        <label class="btn btn-warning">
                            <input type="radio" name="status" value="A"> Approved
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Employee Type</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employeeItem in Model)
                {
                    <tr data-status="@Html.DisplayFor(modelItem => employeeItem.Status)">
                        <td>
                            @Html.DisplayFor(modelItem => employeeItem.EmployeeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => employeeItem.Name)
                        </td>
                        <td>
                            @if (employeeItem.EmployeeType == "C")
                            {
                                <text>Contractual</text> }
                            else
                            {
                                <text>Regular</text>}
                        </td>
                        <td>
                            @if (employeeItem.Status == "P")
                            {
                                <span class="label label-warning"><text>Pending</text></span> }
                            else
                            {
                                <span class="label label-success"><text>Approved</text></span>}
                        </td>
                        <td class="centerItem">
                            @if (employeeItem.Status == "P")
                            {
                                @Html.ActionLink(" Calculate ", "CalculateEmployeeSalary", new { id = "btnCalculate", employeeID = employeeItem.EmployeeId }, new { @class = "btn btn-sm manage" })
                            }
                            else
                            {
                                @Html.ActionLink(" Review ", "ReviewEmployeeSalary", new { id = "btnCalculate", employeeID = employeeItem.EmployeeId }, new { @class = "btn btn-sm manage" })
                            }

                        </td>
                    </tr>
                }
            </tbody>

        </table>
        @Html.ActionLink(" New Employee ", "AddEmployee", new { id = "btnAdd" }, new { @class = "btn btn-success" })
       
    </div>
    <script src="~/js/javascript.js"></script>

</body>
</html> 